@media only screen and (min-width: 1200px) {
	.draw {
		margin: 80px auto 0;
		max-width: 1500px;
	}
	.draw__headline {
		margin-bottom: 70px;
	}
	.draw__btn {
		margin-bottom: 100px;
	}
	.draw__btn:hover::after {
		transform: scale(1.05);
	}
	.draw__btn:active::after {
		transform: scale(1);
	}
	.draw__btn:not(:focus-visible) {
		outline: none;
	}
	.draw__btn:-moz-focusring {
		outline: 5px dotted #00b193;
		outline-offset: 10px;
	}
}

@media only screen and (min-width: 1600px) {
	.draw {
		margin-top: 200px;
	}
}
